<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>
            <div class="container mt-5">
                <h1 class="text-center">Register</h1>
                <% if (message.type) { %>
                    <div class=" text-center alert alert-<%= message.type === 'success'? 'success' : 'danger'%>" role="alert">
                        <%= message.body %>
                    </div>
                <% } %>
                <form
                method="POST"
                action="/register">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input 
                            type="text" 
                            class="form-control <%= errors.name ? 'is-invalid' : '' %>" 
                            id="name" 
                            name="name"
                            value="<%= formData.name %>"
                            maxlength="30"
                            minlength="3"  
                            required  
                        />
                        <% if ( errors.name ) { %>
                            <div class="invalid-feedback">
                                <%= errors.name[0]  %>  
                            </div>
                            <% } %> 
                    </div>
                    
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input 
                            type="email" 
                            class="form-control <%= errors.email ? 'is-invalid' : '' %>" 
                            id="email" 
                            name="email"
                            value="<%= formData.email %>"
                            maxlength="30"
                            required
                        />
                        <% if ( errors.email ) { %>
                        <div class="invalid-feedback">
                            <%= errors.email[0]  %>  
                        </div>
                        <% } %> 
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input 
                            type="password" 
                            class="form-control <%= errors.password ? 'is-invalid' : '' %>" 
                            id="password" 
                            name="password"
                            required
                        />
                        <% if ( errors.password ) { %>
                            <div class="invalid-feedback">
                                <%= errors.password[0]  %>  
                            </div>
                            <% } %> 
                    </div>

                    <div class="mb-3">
                        <label for="repeat_password" class="form-label">Repeat Password</label>
                        <input 
                            type="password" 
                            class="form-control" 
                            id="repeat_password" 
                            name="repeat_password"
                            required
                        />
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <%- include('partials/footer') %>
    </body>

</html>